<!DOCTYPE html>
<html>
	<head>
		<title>Insty</title>
	 	  	<meta name="viewport" content="width=device-width, initial-scale=1">
	 	  	<%= csrf_meta_tags %>	
	 		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.5/yeti/bootstrap.min.css">
	 		
	 		<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %> 
	</head>
	<body>
		<nav class="navbar navbar-default navbar-static-top">
			<div class="container-fluid">
		    	<div class="navbar-header">
		    		<ul class="nav navbar-nav pull-left">
		    			<li><%= link_to "Insty", root_path, class: "btn-primary" %></li>
		    			<li><%= link_to "New Post", new_post_path, class: "btn-primary" %></li>
		    		</ul>
		    	    	
		    		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		    			<span class="icon-bar"></span>
		    			<span class="icon-bar"></span>
		    			<span class="icon-bar"></span>
		    		</button>	
		    	</div>
		    	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		    		<ul class="nav navbar-nav pull-right">
		    			
		    				<% if current_user %>
		    					<li>
		    						<%= link_to "Log Out", destroy_user_session_path, method: :delete, confirm: "Are you sure?" %>
		    					</li>
		    				<% else %>
		    					<li>
		    					<%= link_to "Log In", new_user_session_path %>
		    					</li>
		    					<li>
		    						<%= link_to "Sign Up", new_user_registration_path %>
		    					</li>
		    				<% end %>	
		    					
		    		</ul>
		    	</div>
			</div>
		</nav> 
		<div class="container">
		<% flash.each do |a, b| %>
			<div class="alert alert-success"> <%= b %></div>
		<% end %>
			
				
	

		<%= yield %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
			
			
		</div>
	</body>
</html>
